<!DOCTYPE html>
<html lang="ru">

{{> head}}

<body>
    <div id="container">

        {{> header}}

        <div id="mainpanel">

            {{{body}}}

        </div>

        {{> footer}}

    </div>
</body>

</html>