<div id="website">
    <a href="http://x2c.ru">
        <img src="images/icon/grid/website.png" alt="Сайт" title="WEB-сайт">
        <h4>WEB-сайт</h4>
    </a>
</div>
<div id="ftp">
    <a href="http://x2c.ru">
        <img src="images/icon/grid/ftp.png" alt="FTP" title="FTP">
        <h4>FTP</h4>
    </a>
</div>
<div id="database">
    <a href="/adminpanel/bd">
        <img src="images/icon/grid/database.png" alt="БД" title="База данных">
        <h4>Базы данных</h4>
    </a>
</div>