<div id='authon'>
  <form id='authform' method='POST'>
    <label id='login11' for='login12'>Логин</label>
    <input
      id='login12'
      type='text'
      name='username'
      placeholder='Введите логин'
      required
    />
    <label id='login21' for='login22'>Пароль</label>
    <input
      id='login22'
      type='password'
      name='password'
      placeholder='Введите пароль'
      required
    />
    <input id='authbutton' type='submit' value='Войти' />
  </form>
</div>
