body {
    margin: 0;
    font-family: 'Balsamiq Sans', cursive;
}

a {
    text-decoration: none;
    outline: none;
    user-select: none;
    text-align: center;
    color: white;
    
}

a :hover {
    transform: scale(1.2);
    transition: ease 1s;
    color:aquamarine;
}

#mainheader > a :hover {
    transform: none;
}

#mainpanel > #website > a :hover {
    transform: none;
    color: teal;
}

#mainpanel > #ftp > a :hover {
    transform: none;
    color: teal;
}

#mainpanel > #database > a :hover {
    transform: none;
    color: teal;
}

.button {
    cursor: pointer;
    background: black;
    color: white;
    border-color: grey;
}
.button :hover, .button:hover {
    transition: ease 0.5s;
    color:aquamarine;
    border-color: aquamarine;
}

p {
    text-align: center;
}

h4 {
    color: #000000;
    cursor: pointer;
}

h1, h2, h3, h5 {
    text-align: center;
    user-select: none; 
}

h2, h3, h5 {
    color: #ffffff;
}

#container {
    display: grid;
    height: 100vh;
    grid-template-areas:
        "header header header"
        "mainpanel mainpanel mainpanel"
        "footer footer footer";
    background: #ffffff;
    grid-auto-rows: auto 1fr auto;
}

#header {
    grid-area: header;
    display: grid;
    grid-template-areas: "logo mainheader authlogin";
    grid-template-columns: 200px 1fr 200px;
    align-items: center;
    justify-items: center;
    background: #004444;
}


#logo {
    grid-area: logo;
}

#mainheader {
    grid-area: mainheader;
}

#authlogin {
    grid-area: authlogin;
}

#logo :hover{
    transform:  rotateY(360deg);
    transition: ease 3s;
}

#mainpanel {
    grid-area: mainpanel;
    display: grid;
    grid-template-areas: 
    "service1 service2 service3"
    "service4 service5 service6"
    "service7 service8 service9";
    grid-template-columns: 1fr 1.1fr 1fr;
    grid-template-rows: 1fr 1.1fr 1fr;
    margin: 25px;
    align-items: center;
    justify-items: center;
}

#mainpanel > div > a > img {
    width: 100px;
    height: 100px;
}

#login-fail, #login-in {
    grid-area: service2;
    text-align: center;
} 

#website {
    grid-area: service1;
}

#ftp {
    grid-area: service2;
}

#database {
    grid-area: service3;
}

#footer {
    display: grid;
    grid-area: footer;
    bottom: 0;
    width: 100%;
    background: #004444;
}

#authon {
    grid-area: service5;
}

#login11, #login12,  #login21, #login22 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#login21, #login11 {
    margin-top: 10px;
}

#login12, #login22 {
    border-color: #004444;
    padding: 5px;
    background: white;
    color: #004444;
    font-weight: bold;
}

#authform {
    display: inline-table;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    background: #004444;
    color: white;
}

#authform > #login11:hover, #login21:hover {
    color: aquamarine;
}

::placeholder {
    text-align: center;
}

#authbutton {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background: black;
    color: white;
    border-color: grey;
}
#authform > #authbutton:hover {
    transition: ease 0.5s;
    color:aquamarine;
    border-color: aquamarine;
}